<h1>{{ title }}</h1>

<button name="findRoom">Find Rooms</button>

<hr>
<form>
<h5>Emit Message</h5>
<input type="number" name="score" placeholder="Score">
<input type="number" name="cubeHeight" placeholder="Cube Height">
<input type="submit" value="Submit">
</form>

<script>

//Socket IO (On Event)
var socket = io.connect('http://localhost:3000');

  socket.on('prepareGame', function (data) {
  	console.log(data);
  	socket.emit('startBattle');
  });

  socket.on('askUserInfo', function (data) {
  	console.log(data);
    socket.emit('loginInfo', JSON.stringify({id:"1546408082263449",name:"Paul2" }) );
  });

(function($, socket) {


	//UI Event
	$("form").submit(function(event){
		event.preventDefault();
		socket.emit('updateStatus', {score : $("form input[name='score']").val(),
		 							              heightIndex : $("form input[name='cubeHeight']").val(),
                                name : "Paul2",
                                facebook_id : "1546408082263449",
                                overAllScore : "200"});
	});

	//SearchRoom
	$("button[name='findRoom']").click(function() {
      var data = { id: '1546408082263449', hero: 'Producer' };
    	socket.emit('findRoom', JSON.stringify(data) );
	});
})(jQuery,socket);
</script>
